:root {
    --main-color: #2898FA;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: #777;
    font-family: 'Onest', sans-serif;
    line-height: 2.2rem;
}

.section hr{
    color: #DDD;
}

header{
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

h1{
    font-weight: 500;
    font-size: 3rem;
    line-height: 40px;
}

h1 span{
    font-size: 2rem;
}

h5{
    font-size: 1.1rem;
}

.date{
    font-size: 0.9rem;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

a:hover{
    filter: brightness(0.8);
    transition: 0.4s;
}

ul{
    margin-left: 12px;
}

ul li{
    margin: 5px 0;
}

header img{
    padding: 20px;
    box-sizing: border-box;
}

main{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    line-height: 1.8em;
    font-size: 1em;
}

.section{
    margin-top: 30px;
}

h3, .resume_dates{
    margin-top: 20px;
}

#totalExperience{
    float: right;
}

#print-resume{
    text-align: center;
    margin: 20px 0;
    display: block;
}

footer{
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    display: block;
    background-color: #aaa;
}

@media screen and (max-width: 700px) {
    header{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
}